<h2>Login</h2>
<form #loginForm="ngForm" (ngSubmit) = "signIn(loginForm.value)">
 <table>
    <tr>
     <td><label>Email</label></td>
      <td><input type = "text" pattern = '/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/' required #email = "ngModel" [class.is-invalid] = "email.invalid && email.touched" class = "form-control"  name = "email" [(ngModel)] = "userModel.email"></td>
      <td *ngIf = "email.errors && (email.invalid && email.touched)">
        <small class = "text-danger" *ngIf = "email.errors.required">Email is mandatory</small>
        <small class = "text-danger" *ngIf = "email.errors.pattern">Please enter valid email address</small>
      </td>
    </tr>
    <tr>
      <td><label>Password</label></td>
      <td><input type = "text" pattern = "^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&-+=()])(?=\\S+$).{8, 20}$" required #password = "ngModel" [class.is-invalid] = "password.invalid && password.touched" class = "form-control" name = "password" [(ngModel)] = "userModel.password"></td>
      <td *ngIf = "password.errors && (password.invalid && password.touched)">
        <small class = "text-danger" *ngIf = "password.errors.required">Password is mandatory</small>
        <small class = "text-danger" *ngIf = "password.errors.pattern">Password must have atleast 1 uppercase 1 lowercase 1 special character and a number</small>
      </td>
    </tr>
    <tr>
      <td><button class = "btn btn-primary">Login</button></td>
    </tr>
  </table>
</form>