<h2>Register</h2>
<form #registerForm="ngForm" (ngSubmit) = "onSubmit(registerForm.value)"> 
  <table>
    <tr>
      <td><label>Name</label></td>
      <td><input type = "text" required #userName = "ngModel" [class.is-invalid] = "userName.invalid && userName.touched" class = "form-control" name = "userName" 
      [(ngModel)] = "userModel.userName"></td>
      <td *ngIf = "userName.errors && (userName.invalid && userName.touched)">
        <small class = "text-danger">Name is mandatory</small>
      </td>
    </tr>
    <tr>
      <td><label>DOB</label></td>
      <td><input type = "date" required #dob = "ngModel" [class.is-invalid] = "dob.invalid && dob.touched" class = "form-control" name = "dob" [(ngModel)] = "userModel.dob"></td>
      <td *ngIf = "dob.errors && (dob.invalid && dob.touched)">
        <small class = "text-danger">date of birth is mandatory</small>
      </td>
    </tr>
    <tr>
      <td><label>Email</label></td>
      <td><input type = "text" pattern = '^[A-Za-z0-9+_.-]+@(.+)$' required #email = "ngModel" [class.is-invalid] = "email.invalid && email.touched" class = "form-control"  name = "email" [(ngModel)] = "userModel.email"></td>
      <td *ngIf = "email.errors && (email.invalid && email.touched)">
        <small class = "text-danger" *ngIf = "email.errors.required">Email is mandatory</small>
        <small class = "text-danger" *ngIf = "email.errors.pattern">Please enter valid email address</small>
      </td>
    </tr>
    <tr>
      <td><label>Password</label></td>
      <td><input type = "text" password = "^\d{8}" required #password = "ngModel" [class.is-invalid] = "password.invalid && password.touched" class = "form-control" name = "password" [(ngModel)] = "userModel.password"></td>
      <td *ngIf = "password.errors && (password.invalid && password.touched)">
        <small class = "text-danger" ngIf = "password.errors.required">Password is mandatory</small>
        <small class = "text-danger" ngIf = "password.errors.pattern">Password must atleast have 8 characters</small>
      </td>
    </tr>
    <tr>
      <td><button class = "btn btn-primary">Submit</button></td>
    </tr>
  </table>
</form>